/* generic styling */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;700;800;900&display=swap');

:root {
 /* color */
 --clr-primary-pink: hsl(322, 100%, 66%);
 --clr-neutral-very-pale-cyan: hsl(193, 100%, 96%);
 --clr-neutral-very-dark-cyan: hsl(192, 100%, 9%);
 --clr-neutral-grayish-blue: hsl(208, 11%, 55%);
 
 /* fonts */
 --ff-primary: 'Open Sans', sans-serif;
 --ff-secondary: 'Poppins', sans-serif;

 --fw-400; 500;
 --fs-600; 600;
 --fs-700; 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    /* 16px */
    font-size: 1.6em;
    font-family: var(--ff-secondary);
    height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

p {
    line-height: 1.7;
}

/* specific styling */
/* mobile first response */

.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header__block"
        "grow__together__block"
        "flowing__conversations__block"
        "your__users__block"
        "footer__block";
    gap: 4rem;
    justify-items: center;
    /* style 1st component - mobile */
    min-width: 37.5rem;   
}

.header_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header__block__company--logo header__block__trial--button"
    "header__block_product--title header__block_product--title"
    "header__block_product--info header__block_product--info"
    "header__block__product__trial--button header__block__product__trial--button"
    "header__block__product--illustration header__block__product--illustration";
    gap: 4rem;
    align-items: center;
    padding: 2rem;
    background-color: var(--clr-neutral-very-pale-cyan);
    background-image: url("./images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 -10rem;
}