/* generic styling */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;700;800;900&display=swap');

:root {
 /* color */

    --clr-primary-pink: hsl(322, 100%, 66%);
    --clr-neutral-very-pale-cyan: hsl(193, 100%, 96%);
    --clr-neutral-very-dark-cyan: hsl(192, 100%, 9%);
    --clr-neutral-grayish-blue: hsl(208, 11%, 55%);
    --white: #fff;
 
 /* fonts */

    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;

    --fw-400; 500;
    --fs-600; 600;
    --fs-700; 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    /* 16px */
    font-size: 1.6em;
    font-family: var(--ff-secondary);
    height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

p {
    line-height: 1.7;
}

/* specific styling */
/* mobile first response */

.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header__block"
        "grow__together__block"
        "flowing__conversations__block"
        "your__users__block"
        "footer__block";
    gap: 4rem;
    justify-items: center;
    /* style 1st component - mobile */
    min-width: 37.5rem;   
}

.header_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header__block__company--logo header__block__trial--button"
    "header__block_product--title header__block_product--title"
    "header__block_product--info header__block_product--info"
    "header__block__product__trial--button header__block__product__trial--button"
    "header__block__product--illustration header__block__product--illustration";
    gap: 4rem;
    align-items: center;
    padding: 2rem;
    background-color: var(--clr-neutral-very-pale-cyan);
    background-image: url("./images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 -10rem;
}

.header__block__company--logo {
    width: 70%;
}

.header__block__trial--button {
    width: 75%;
    background-color: var(--white);
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-family: var(--ff-primary);
    font-weight: var(==fw-700);
    justify-self: end;
    padding: 0.6rem 0;    
}

.header__block__product--title {
    font-size: 2.6rem;
    text-align: center;
    margin-top: 6rem;
}

.header__block__product--info {
    font-famiiy: var(--ff-primary);
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.header__block__product__trial--button {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: var(--ff-primary);
    padding: 1.2rem 0;
    border: none;
    border-radius: 2.5rem;
    background-color: var(--clr-primary-pink);
    color: var(--clr-neutral-very-pale-cyan);
}

/* style 2nd, 3rd & 4th component - mobile */

.grow__together__block,
.flowing__conversations__block,
.your__users__block {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    padding: 2rem;
    box-shadow: 0 0 0.4rem var(--clr-neutral-grayish-blue);
    border-radius: 2rem;
}

.grow__together__block {
    grid-template-areas: 
        "grow__together__block--feature-image"
        "grow__together__block--feature-title"
        "grow__together__block--feature-info";   
}

.flowing__conversations__block {
    grid-template-areas: 
        "flowing__conversations__block--feature-image"
        "flowing__conversations__block--feature-title"
        "flowing__conversations__block--feature-info";
}

.your__users__block {
    grid-template-areas:
        "your__users__block--feature-logo"
        "your__users__block--feature-image"
        "your__users__block--feature-info";
}

.grow__together__block--feature-image,
.flowing__conversations__block--feature-image,
.your__users__block--feature-image {
    width: 85%;
    margin-bottom: 4rem;
}

.grow__together__block--feature-title,
.flowing__conversations__block--feature-title,
.your__users__block--feature-title {
    font-size: 2.4rem;
}

.grow__together__block--feature-info,
.flowing__conversations__block--feature-info,
.your__users__block--feature-info {
    text-align: center;
    font-family: var(--ff-primary);
    color: var(--clr-neutral-grayish-blue);
}